@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    background-size: cover;
   
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: red;
    padding-top: 22px;
    font-family: Muller;
    padding-left: 20px;
    font-size: 30px;
}

#item {
    color: orange;

    text-decoration: underline;
    text-decoration-color: #fff;
}

.nav-item {
    margin-top: 30px;
}

.nav-item a {
    color: #fff;
    margin: 10px;
}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    color: #eee;
    font-size: 20px;
    margin: 10px;
}

.img {
    width: 400px;
    transition: 1s;
    margin: 40px;
}

.img:hover {
    transform: scale(1.1);
}

.heading {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    padding-top: 2.1em;
}

.description {
    font-size: 15px;
    color: #999;
    padding-right: 30px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

}

#btn {
    padding: 20px 50px;
    background: transparent;
    color: red;
    border: 2px solid red;
    cursor: pointer;
    border-radius: 60px;
    text-decoration: none;
    transition: 1s;
}
#btn:hover{
    background: red;
    color: #fff;
}

.images {
    margin-top: 50px;
}

.card-img {
    width: 150px;
    height: 160px;
    margin: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
    margin-left: -40px;
}

.card-img:hover {
    transform: scale(1.1);
}
.card-img1 {
    width: 150px;
    height: 200px;
    
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
}

.about-section {
    background: black;
    background-size: cover;
    padding: 40px;
}

.about-heading {
    color: red;
    font-size: 50px;
    text-align: center;
}

.about-text-style {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 300px;
    border-radius: 10px;
}

.about-conetent-heading {
    color: #fff;
    font-size: 20px;
    padding: 0px 50px;
}

.content-description {
    color: #999;
    font-size: 15px;
    padding: 10px 50px;
}

.about-btn {
    padding: 20px 60px;
    margin: 20px 50px;
    background: red;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.about-btn:hover {
    background: White;
    color: #333;
}

.menu-section {
    background: #111;
    background-size: cover;
    padding: 40px;
}

.menu-heading {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.menu-text-heading {
    color: red;
    font-size: 50px;
}

.menu-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-card {
    background: black;
    background-size: cover;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    margin: 50px 30px;
    box-shadow: 1px 1px 10px 10px #fff;
    transition: 1s;
    cursor: pointer;
}
.menu-card:hover{
    transform: scale(1.1);
}
.card-menu-image {
    display: flex;
    justify-content: center;
}

.menu-img {
    width: 100px;
    height: 100px;
}

.menu-card-heading {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 20px 0px;
}

.card-menu-price {
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.menu-price {
    color: #999;
    font-size: 14px;
    text-decoration: line-through;
    text-align: center;
}

.menu-button {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.menu-btn {
    padding: 20px 50px;
    color: #fff;
    background: red;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.product-section {
    background: black;
    background-size: cover;
    padding: 40px;
}

.product-heading {
    color: red;
    font-size: 50px;
    text-align: center;
}

.product-text-heading {
    color: #fff;
    font-size: 50px;
}

.product-card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    background: #fff;
    padding: 40px;
    width: 300px;
    border-radius: 5px;
    margin: 50px 20px;
}

.product-image {
    display: flex;
    justify-content: center;
}

.product-img {
    width: 200px;
    transition: 1s;
    cursor: pointer;
}
.product-img:hover{
    transform: scale(1.1);
}

.product-card-heading {
    color: #111;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

.product-price {
    color: #111;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;

}

.product-text-price {
    color: #999;
    text-align: center;
    text-decoration: line-through;
    font-size: 20px;
}

.product-icons {
    display: flex;
    justify-content: center;
}

.pro-icon {
    margin: 10px;
    color: red;
}


.review-section {
    background: #111;
    background-size: cover;
    padding: 40px;
}

.review-heading {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.review-text-heading {
    color: red;
    font-size: 50px;
}

.review-card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.review-card {
    width: 300px;
    background: #fff;
    background-size: cover;
    border-radius: 10px;
    padding: 30px;
    margin: 50px 20px;
}

.review-image {
    display: flex;
    justify-content: center;
}

.review-img {
    width: 100px;
    margin: 10px;
}

.customer-review {
    color: #999;
    font-size: 15px;
}

.cutomer-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cutomer-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.customer-name {
    color: #333;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}

.footer-section {
    background: #111;
    padding: 10px;
}
.footer-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.username{
    margin: 20px;
    padding: 20px 0px;
    border: 1px solid #999;
    box-shadow: 10px 1px 10px 10px #4444;
    font-size: 17px;
    color: #333;
    padding-left: 20px;
}
.email{
    margin: 20px;
    padding: 20px 0px;
    border: 1px solid #999;
    box-shadow: 10px 1px 10px 10px #4444;
    font-size: 17px;
    color: #333;
    padding-left: 20px;
}
.number{
    margin: 20px;
    padding: 20px 0px;
    border: 1px solid #999;
    box-shadow: 10px 1px 10px 10px #4444;
    font-size: 17px;
    color: #333;
    padding-left: 20px;
}
.footer-button{
    display: flex;
    justify-content: center;
    margin: 40px;
}
.footer-btn{
    padding: 20px 50px;
    color: #333;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
.footer-btn:hover{
    background: red;
    transform: scale(1.1);
    color: #fff;
}
.footer-heading{
    color: red;
    font-size: 60px;
    text-align: center;
    padding-bottom: 30px;
}
.footer-text-heading{
   color: #fff;
    font-size: 60px; 
}
.copyright{
    color: #999;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
}
.foot-img{
    height: 100%;
}